@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}
<div>
<h2>Parabéns, você foi regisrado com sucesso. Agora, clique<a href="../Usuario/Login"> aqui </a>para fazer login no sistema!</h2>
    </div> @*ajustar*@

